data
*.pyc
*.swp
.cache
.ipynb_checkpoints
*.bbl
*-blx.bib
*.swp
*.aux
*.log
*.out
*.run.xml
*.blg
*.bcf
*.synctex.gz
*.fls
*.fdb_latexmk
*.swo
*#
*.toc
*.tif
conpy.pdf
.doit*
doc/_build
doc/auto_examples
doc/generated
paper/overleaf
paper/conpy-v*.pdf
.pytest_cache
conpy/tests/.coverage
conpy/tests/htmlcov
conpy.egg-info
