seaborn>=0.8
numpydoc>=0.7
numpy>=1.13
doit>=0.30
setuptools>=36.5
mayavi>=4.5
matplotlib>=1.5
mne>=0.16
scipy>=0.19
tqdm
h5py
pyqt5
pytest>=3.2
sphinx
sphinx_gallery>=0.1
sphinx_bootstrap_theme>=0.6
