seaborn>=0.8
numpydoc>=0.7
doit>=0.30
setuptools>=61.0
matplotlib>=1.5
mne>=1.0
mne-connectivity
nibabel
tqdm
h5py
h5io
pytest>=3.2
sphinx
sphinx_gallery>=0.1
pydata_sphinx_theme
intersphinx_registry
