doit
h5io
h5py
intersphinx_registry
matplotlib
mne
mne-connectivity
nibabel
nilearn
numpy
numpydoc
numpydoc
pillow
pooch
pre-commit
pydata_sphinx_theme
pydata_sphinx_theme
pyside6
pytest
pytest-cov
pytest-xdist
pyvista
pyvistaqt
scikit-learn
scipy
seaborn
sphinx_gallery
tqdm
vtk
